// COLOR PALETTE
$black-000000: #000000;
$white-FFFFFF: #FFFFFF;


$black-333333: #333333;
$blue-001724: #001724;
$blue-004165: #004165;
$blue-005CB1: #005CB1;
$green-009900: #009900;
$green-037887: #037887;
$grey-BCBCBC: #BCBCBC;
$grey-CCCCCC: #CCCCCC;
$grey-E2E2E2: #E2E2E2;
$grey-E7E7E7: #E7E7E7;
$red-F67273: #F67273;