/* Table of content
--------------------------------------------------- */
/* Typography
--------------------------------------------------- */
@font-face {
  font-family: poppinsLight;
  src: url("../fonts/Poppins/Poppins-Light.ttf");
  font-weight: 500;
}
@font-face {
  font-family: poppinsMedium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: poppinsSemiBold;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: poppinsBold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: poppinsItalic;
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTMedium;
  src: url("../fonts/FuturaPT/FuturaPTMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTCondMedium;
  src: url("../fonts/FuturaPT/FuturaPTCondMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTCondExtraBold;
  src: url("../fonts/FuturaPT/FuturaPTCondExtraBold.otf");
  font-weight: 700;
}
.poppinsLight {
  font-family: "poppinsLight", sans-serif;
}

.poppinsMedium {
  font-family: "PoppinsMedium", sans-serif;
}

.poppinsBold {
  font-family: "poppinsBold", sans-serif;
}

.poppinsItalic {
  font-family: "poppinsItalic", sans-serif;
}

.futuraPTMedium {
  font-family: "futuraPTMedium", sans-serif;
}

.futuraPTCondMedium {
  font-family: "futuraPTCondMedium", sans-serif;
}

.futuraPTCondExtraBold {
  font-family: "futuraPTCondExtraBold", sans-serif;
}

body {
  font-family: "PoppinsMedium", sans-serif;
  color: #333333;
}

/* Header
--------------------------------------------------- */
/* Body
--------------------------------------------------- */
body {
  overflow-x: hidden;
  background-color: #FFFFFF;
}
body .card {
  border-radius: 0.438rem;
  background-color: #FFFFFF;
  -webkit-filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
  margin-bottom: 0.188rem;
}
body .btn {
  width: 100%;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: none;
  background-color: #037887;
  font-family: "PoppinsMedium", sans-serif;
}
body .btn:hover {
  background-color: #004165;
}
body .btn:active, body .btn:focus, body .btn:active:focus {
  background-color: #004165;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body .header {
  background-color: #004165;
}
body .header a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "poppinsSemiBold", sans-serif;
  font-size: 1rem;
}
body .header a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
body .header figure {
  margin: 0;
}
body .header .logo-izihub {
  width: 50%;
}
body .header .logo-certisign {
  width: 27%;
}
body .owl-theme .owl-nav {
  margin: 0 0 0.313rem 0;
}
body .owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: #FFF;
  text-decoration: none;
}
body .owl-theme .owl-nav button span {
  display: block;
  font-size: 0;
  width: 1rem;
  height: 1.063rem;
  background-size: 0.875rem 1.063rem !important;
}
body .owl-theme .owl-nav button.owl-prev span {
  background: transparent url("../img/Icon-arrow-left.png") center center no-repeat !important;
  margin-right: 1.25rem;
}
body .owl-theme .owl-nav button.owl-next span {
  background: transparent url("../img/Icon-arrow-right.png") center center no-repeat !important;
  margin-left: 1.25rem;
}
body .read-more .crop {
  height: calc(3.125rem * 3 + 0.938rem);
  overflow: hidden;
  position: relative;
}
body .read-more .crop::after {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  content: "...";
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1rem;
  color: #444444;
  padding-right: 0.938rem;
  text-align: right;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#FFFFFF));
  background-image: linear-gradient(to bottom, transparent, #FFFFFF);
}
body .read-more .crop :last-child {
  margin-bottom: 0;
}
body .read-more .create-btn-expand {
  height: 2.5rem;
  margin: 0.938rem 0.313rem;
}
body .read-more .create-btn-expand .btn-read-more {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #005CB1;
  font-family: "PoppinsMedium", sans-serif;
  border: none;
  padding-right: 1.25rem;
  background: transparent url("../img/Icon-arrow-down.png") right center no-repeat;
}
body .read-more .create-btn-expand ::before {
  content: "Ler mais";
}
body .read-more .create-btn-expand.less .btn-read-more {
  background: transparent url("../img/Icon-arrow-up-right.png") right center no-repeat;
}
body .read-more .create-btn-expand.less ::before {
  content: "Ler menos";
}
body .read-more .card-body {
  padding-top: 0;
  padding-bottom: 0;
  min-height: calc(3.125rem * 3 + 0.938rem);
}
body .read-more .card-body :first-child {
  margin-top: 1 0.625rem;
}
body .read-more .card-body :last-child {
  margin-bottom: 0;
}
body .list-type-check {
  list-style: none;
  padding: 0;
}
body .list-type-check li {
  background: url("../img/Icon-check.png") 0 7px no-repeat;
  padding-left: 1.563rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.313rem;
}
body .list-type-check li:last-child {
  margin-bottom: 0;
}
body .sec-01 {
  background-color: #E2E2E2;
}
body .sec-01 h1 {
  font-family: "futuraPTCondExtraBold", sans-serif;
  font-size: 1.875rem;
  background: url("../img/logo-izihub.png") 125px center no-repeat;
  background-size: 73px auto;
}
body .sec-01 p {
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
body .sec-01 p.card-text {
  line-height: 1.375rem;
}
body .sec-01 .card.lead {
  width: calc(3.125rem * 6 - 0.625rem);
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
body .sec-01 .btn {
  font-size: 1rem;
}
body .sec-01 .btn.arrow-right {
  background: url("../img/Icon-arrow-right.png") 80% center no-repeat;
  padding-right: 1.563rem;
}
body .sec-01 .btn.disabled {
  background-color: #E7E7E7;
  color: #333333;
  opacity: 0.4;
}
body .sec-01 .btn.arrow-right-white {
  background: #037887 url("../img/Icon-arrow-white-right.png") 80% center no-repeat;
  padding-right: 1.563rem;
}
body .sec-01 .btn.arrow-right-white .comp-text {
  display: none;
}
body .sec-01 input {
  font-family: "poppinsLight", sans-serif;
  font-size: 1rem;
  color: #333333;
  border: none;
  border-bottom: solid 2px #CCCCCC;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body .sec-01 input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: solid 2px #CCCCCC;
}
body .sec-01 input::-webkit-input-placeholder {
  font-family: "poppinsLight", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 input::-moz-placeholder {
  font-family: "poppinsLight", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 input:-ms-input-placeholder {
  font-family: "poppinsLight", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 input::-ms-input-placeholder {
  font-family: "poppinsLight", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 input::placeholder {
  font-family: "poppinsLight", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 input:-ms-input-placeholder {
  font-family: "poppinsLight", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 input::-ms-input-placeholder {
  font-family: "poppinsLight", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 .stage .scroll {
  padding: 0.625rem;
  border-radius: 0.438rem;
  background-color: #FFFFFF;
  -webkit-filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
}
body .sec-01 .stage .scroll .card {
  width: calc(3.125rem * 4 - 0.938rem);
  margin-bottom: 0.625rem;
}
body .sec-01 .stage .scroll .card .card-body {
  padding: 0.938rem 0.313rem;
}
body .sec-01 .stage .scroll .card .card-body figure {
  margin-bottom: 0.625rem;
}
body .sec-01 .stage .scroll .card .card-body figure img {
  height: 1.688rem;
  width: auto;
  display: block;
  margin: 0 auto;
}
body .sec-01 .stage .scroll .card .card-body p {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #444444;
  text-align: center;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: calc(3.125rem * 2);
  margin: 0 auto;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .sec-01 .stage .scroll .card .card-body a {
  margin-top: 1.25rem;
}
body .sec-02 h1 {
  font-family: "futuraPTCondExtraBold", sans-serif;
  font-size: 1.625rem;
  line-height: 1.875rem;
}
body .sec-02 .card-body h2 {
  font-family: "poppinsBold", sans-serif;
  font-size: 1.125rem;
  line-height: 1.563rem;
}
body .sec-02 .card-body p {
  color: #444444;
}
body .sec-03 h1 {
  font-family: "futuraPTCondExtraBold", sans-serif;
  font-size: 1.625rem;
  line-height: 1.875rem;
}
body .sec-03 figure {
  border-radius: 0.438rem;
  height: calc(3.125rem * 4 + 0.938rem);
  overflow: hidden;
}
body .sec-03 figure img {
  margin-top: -1.25rem;
}
body .sec-04 h1 {
  font-family: "futuraPTCondExtraBold", sans-serif;
  font-size: 1.625rem;
  line-height: 1.875rem;
}
body .sec-04 p {
  font-size: 1rem;
  line-height: 1.375rem;
  color: #333333;
}
body .sec-04 .img-cell {
  height: calc(3.125rem * 6 + 1.875rem);
  display: block;
  margin-left: auto;
  margin-right: -1.25rem;
}
body .sec-05 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #E2E2E2), color-stop(50%, #FFFFFF));
  background: linear-gradient(180deg, #E2E2E2 50%, #FFFFFF 50%);
}
body .sec-05 h1 {
  font-family: "futuraPTCondExtraBold", sans-serif;
  font-size: 1.625rem;
  line-height: 1.875rem;
}
body .sec-05 h3 {
  font-size: 1rem;
  font-family: "poppinsBold", sans-serif;
}

/* Footer
--------------------------------------------------- */
/* Responsive
--------------------------------------------------- */
@media (min-width: 960px) {
  body .header {
    border-bottom: solid 4px #046673;
  }
  body .header .logo-izihub {
    width: auto;
  }
  body .header .logo-certisign {
    width: auto;
  }
  body .owl-theme .owl-nav button.owl-next {
    margin-right: 240px;
  }
  body .sec-01 h1 {
    font-size: calc(4.063rem);
    background-position: 268px center;
    background-size: auto;
  }
  body .sec-01 p {
    font-size: 1.75rem;
    line-height: calc(2.25rem);
  }
  body .sec-01 p.card-text {
    line-height: 1.375rem;
  }
  body .sec-01 .card.lead {
    width: calc(3.125rem * 6 + 0.75rem);
    font-family: "PoppinsMedium", sans-serif;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  body .sec-01 .card.lead .card-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  body .sec-01 .btn {
    font-size: 1rem;
    height: calc(3rem);
  }
  body .sec-01 .btn.arrow-right-white:hover {
    background-color: #004165;
  }
  body .sec-01 .btn.arrow-right-white .comp-text {
    display: inline-block;
    margin-left: 0.188rem;
  }
  body .sec-01 input {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
    border: none;
    border-bottom: solid 0.125rem #CCCCCC;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body .sec-01 input:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: solid 0.125rem #CCCCCC;
  }
  body .sec-01 input::-webkit-input-placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 input::-moz-placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 input:-ms-input-placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 input::-ms-input-placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 input::placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 input:-ms-input-placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 input::-ms-input-placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 .stage {
    position: relative;
    height: calc(3.125rem * 8.5);
    overflow: hidden;
  }
  body .sec-01 .stage .scroll {
    position: absolute;
    left: 640px;
    width: 920px;
    padding: 1.875rem 1.875rem 1.25rem;
  }
  body .sec-01 .stage .scroll .card {
    width: calc(3.125rem * 5 + 1.563rem);
    margin-bottom: 0.625rem;
  }
  body .sec-01 .stage .scroll .card .card-body {
    padding: 0.938rem 0.938rem 1.25rem;
  }
  body .sec-01 .stage .scroll .card .card-body figure {
    margin-bottom: 1.875rem;
  }
  body .sec-01 .stage .scroll .card .card-body figure img {
    margin: 0;
  }
  body .sec-01 .stage .scroll .card .card-body p {
    font-size: 1.125rem;
    line-height: 1.688rem;
    text-align: left;
    height: calc(3.125rem * 2 + 1.875rem);
  }
  body .sec-03 {
    background-color: #E2E2E2;
  }
}