/* Table of content
--------------------------------------------------- */
/* Typography
--------------------------------------------------- */
@font-face {
  font-family: poppinsMedium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: poppinsSemiBold;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: poppinsBold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: poppinsItalic;
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTMedium;
  src: url("../fonts/FuturaPT/FuturaPTMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTCondMedium;
  src: url("../fonts/FuturaPT/FuturaPTCondMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTCondExtraBold;
  src: url("../fonts/FuturaPT/FuturaPTCondExtraBold.otf");
  font-weight: 700;
}
.poppinsMedium {
  font-family: "PoppinsMedium", sans-serif;
}

.poppinsBold {
  font-family: "PoppoppinsBoldpins", sans-serif;
}

.poppinsItalic {
  font-family: "poppinsItalic", sans-serif;
}

.futuraPTMedium {
  font-family: "futuraPTMedium", sans-serif;
}

.futuraPTCondMedium {
  font-family: "futuraPTCondMedium", sans-serif;
}

.futuraPTCondExtraBold {
  font-family: "futuraPTCondExtraBold", sans-serif;
}

body {
  font-family: "PoppinsMedium", sans-serif;
  color: #333333;
}

/* Header
--------------------------------------------------- */
/* Body
--------------------------------------------------- */
body {
  overflow-x: hidden;
}
body .header {
  background-color: #004165;
}
body .header a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "poppinsSemiBold", sans-serif;
  font-size: 1rem;
}
body .header a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
body .header figure {
  margin: 0;
}
body .header .logo-izihub {
  width: 50%;
}
body .header .logo-certisign {
  width: 27%;
}
body .lead {
  background-color: #E2E2E2;
}
body .lead h1 {
  font-family: "futuraPTCondExtraBold", sans-serif;
  font-size: 1.875rem;
  background: url("../img/logo-izihub.png") 125px center no-repeat;
  background-size: 17%;
}
body .lead p {
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
body .lead p.card-text {
  line-height: 1.375rem;
}

/* Footer
--------------------------------------------------- */
/* Responsive
--------------------------------------------------- */
@media (min-width: 960px) {
  body .header {
    border-bottom: solid 3px #046673;
  }
  body .header .logo-izihub {
    width: auto;
  }
  body .header .logo-certisign {
    width: auto;
  }
}